<%- include(crdir+ '/views/partials/head') %>
<%- include(crdir+ '/views/partials/nav') %>
<body>
    <div class="assignment">
        <h1><%= assignment.title %></h1>
        <h1><%= assignment._id %></h1>
    </div>
</body>
<%- include(crdir+ '/views/partials/footer') %>