<%- include(crdir+ '/views/partials/head' ) %>
    <%- include(crdir+ '/views/partials/nav' ) %>
        <style>
            .assignment {
                background-color: rgba(65, 55, 107, 0.3);
                color: white;
                padding: 20px;
                margin: 0px 40px 20px;
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .assignments {
                padding: 20px 0px 40px;
                width: 70vw;
                margin-left: 25vw;
            }

            #view-button {
                background-color: rgb(234, 171, 116);
                color: rgb(65, 55, 107);
                padding: 10px 30px;
                margin: 10px;
                border-radius: 10px;
                border: none;
                font-size: 20px;
                cursor: pointer;
            }

            #view-button:hover {
                opacity: 60%;
            }

            .sidebar {
                float: left;
                width: 20vw;
                padding: 30px;
                position: sticky;
                top: 0px;
                background-color: rgb(57, 59, 98);
                height: 100vh;
            }

            .sidebar-item {
                padding:  20px;
                color: #F6F7F2;
                font-size: 1.3rem;
                width: fit-content;
                transition-duration: 0.2s;
            }

            .sidebar .sidebar-content ul {
                list-style-type: none;
                padding: 0px;
            }

            .sidebar-item:hover {
                list-style-type: '»';
                margin-left: 30px;
            }

            h4 {
                margin: 0px;
            }

            .sidebar-header {
                color: white;
                font-size: 1.5em;
                font-family: helvetica;
                margin-bottom: 20px;
            }
            .assignment-details {
                font-size: 0.9rem;
                margin: 5px;
            }
        </style>

        <body>
            <div>
                <div class="sidebar">
                    <div class="sidebar-header">
                        <h3 style="letter-spacing: 5px; font-weight: 600;">ASSIGNMENTS</h3>
                    </div>
                    <div class="sidebar-content">
                        <ul>
                            <% assignments.forEach(assignment=> { %>
                                <a href="#<%= assignment._id %>" style="color: black; text-decoration: none;">
                                    <li class="sidebar-item">
                                        <%= assignment.title %>
                                    </li>
                                </a>
                                <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="assignments">

                    <% for (let assignment of assignments) { %>
                        <div class="assignment" id="<%= assignment._id %>">
                            <div>
                                <h1>
                                    <%= assignment.title %>
                                </h1>
                                <p class="assignment-details">
                                    <%= assignment.description %>
                                </p>
                                <button onclick="location.href='/assignments/<%= assignment.id %>'"
                                    id="view-button">View</button>
                            </div>
                            <div>
                                <p class="assignment-details">Due Date: <%= convertDate(assignment.dueDate) %>
                                </p>
                                <p class="assignment-details">Maximum Marks: <%= assignment.maximumMarks %>
                                </p>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </body>
        <%- include(crdir+ '/views/partials/footer' ) %>