<%- include(crdir+ '/views/partials/head' ) %>
    <%- include(crdir+ '/views/partials/nav' ) %>
        <style>
            #responseFile {
                color: white;
                text-decoration: none;
                width: fit-content;
            }

            .file {
                border-bottom: dashed white 2px;
                color: white;
                padding: 7px;
            }

            .response {
                background-color: RGB(15, 13, 53);
                color: RGB(246, 247, 242);
                padding: 15px 30px;
                font-size: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 30px;
                margin: 20px 0px;
            }

            #search {
                width: 40%;
                padding: 10px;
                font-size: 1.5rem;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                margin: auto;
            }

            .searchButton {
                width: fit-content;
            }
        </style>
        <link rel="stylesheet" href="/assignments.css">

        <body>
            <%- include(crdir+ '/views/partials/buttons' ) %>
            <div class="assignment">

                <div class="assignment-head">
                    <div class="title-row">
                        <p class="title-row-item">Title</p>
                        <p class="title-row-item" style="color: rgba(255, 255, 255, 0.642);">Assignment ID</p>
                    </div>
                    <div class="heading"
                        style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                        <h1 style="font-size: 60px; margin-top: 0px;" class="heading-level-1">
                            <%= assignment.title %>
                        </h1>
                        <h2 style="color: rgba(255, 255, 255, 0.495);  margin-top: 0px;">
                            <%= assignment._id %>
                        </h2>
                    </div>
                </div>
                <div class="assignment-body">
                    <div class="title-row">
                        <p class="title-row-item">Description</p>
                        <p class="title-row-item">Due Date</p>
                    </div>
                    <div class="title-row">
                        <p style="font-size: 25px;" class="title-row-item">
                            <%= assignment.description %>
                        </p>
                        <p style="font-size: 25px;" class="title-row-item">
                            <%= dueDate %>
                        </p>
                    </div>
                    <div class="title-row" style="margin-top: 40px;">
                        <p class="title-row-item">Maximum Marks</p>
                        <p class="title-row-item">Assigned By</p>
                    </div>
                    <div class="title-row">
                        <p style="font-size: 25px;" class="title-row-item">
                            <%= assignment.maximumMarks %>
                        </p>
                        <p style="font-size: 25px;" class="title-row-item">
                            <%= assignment.assignedBy %>
                        </p>
                    </div>
                    <h1 class="heading-level-1"
                        style="text-align:center; font-family: inter; letter-spacing: 3px; font-size: 2.5rem;">
                        VIEW RESPONSES</h1>
                    <form id="search" action="/view-responses-by" method="POST">
                        <input type="hidden" name="id" value="<%= assignment._id %>">
                        <input type="text" id="filter" name="filter" placeholder="Filter by Student Name">
                        <button class="searchButton" id="submit-button" type="submit">Search</button>
                    </form>
                    <% responses.forEach((response, index)=> { %>
                        <div class="response">
                            <div class="left">
                                <p style="letter-spacing: 2px;">Response <%= index+1 %>.</p>
                                <p><b>Response By - </b><i>
                                        <%= response.submittedBy %>
                                    </i></p>
                                <p><b>Submitted At - </b><i>
                                        <%= response.date.toString().split(' GMT')[0] %>
                                    </i></p>
                            </div>
                            <a href="<%= uploadPath + response.response.data.toString() %>" target="_blank"
                                id="responseFile">
                                <div class="file">
                                    <p style="margin: 0px;">File - <%= response.response.data.toString() %>
                                    </p>
                                </div>
                            </a>
                        </div>
                    <% }); %>
                    <% if (responses.length==0) { %>
                        <p style="text-align: center; font-size: 2rem;">No Responses Yet</p>
                    <% } %>
                </div>
            </div>
        </body>

        <%- include(crdir+ '/views/partials/footer' ) %>